@model MojaBiblioteka.Models.Entities.Book.Publisher

@{
    ViewData["Title"] = "Usuń wydawcę";
}

<h1>Usuwanie</h1>

<h3>Jesteś pewny, że chcesz usunąć?</h3>
<div>
    <h4>Wydawca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PublisherId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
