@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Wygeneruj dwuetapowy autentykacyjny (2FA) kod przywracania";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Przechowaj kody w bezpiecznym miejscu.</strong>
    </p>
    <p>
        Jeśli zgubisz swoje urządzenie i kody przywracania, stracisz dostęp do swojego konta.
    </p>
    <p>
        Wyłączenie 2FA nie zmienia kluczy używanych w aplikacjach autentykatora. Jeśli chcesz zmienić klucz
        używany w aplikacji autentykatora, powinieneś <a asp-page="./ResetAuthenticator">zrestartować swój klucz autentykatora.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Wytwórz kody przywracania</button>
    </form>
</div>
