html {
  font-size: 14px;
}

.form-group{
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}